@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Annie+Use+Your+Telescope|Bowlby+One+SC|Sigmar+One&display=swap');

/*
font-family: 'Amatic SC', cursive;
font-family: 'Sigmar One', cursive;
font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Bowlby One SC', cursive;
*/

*,
*::before, 
*::after{
    background: #c5c5e9;
    box-sizing: border-box
}

















/* <a href="https://www.freepik.com/free-photos-vectors/baby">Baby vector created by freepik - www.freepik.com</a> */